.my_container {
    max-width: 1170px;
    margin: 0 auto;
}

.txtColorLight {
    color: #ffffff;
}

.txtColorDark {
    color: #182028;
}

.txtColorPrimary {
    color: #13be13;
}

.txtColorSecondary {
    color: #060f19;
}

.bgColorPrimary {
    background-color: #13be13;
}

.bgColorSecondary {
    background-color: #060f19;
}

.marginBottom {
    margin-bottom: 90px;
}

.rotate-flip {
    transform: rotate(180deg);
    ;
}